#room {
    width: 100vw;
    height: 100vh;
}

.room-header {
    padding: 0 5vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0,0,0,0.1);
}

.room-number {
    font-size: 24px;
    font-weight: 600;
}

.room-back-button {
    font-size: 15px;
    font-weight: 600;
    color: rgba(200,0,0,0.7);
}

.room-back-button:hover {
    cursor: pointer;
    color: rgba(200,0,0,0.3);
}

.room-container {
    padding: 1vh;
    height: 76vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.room-footer {
    padding: 0 20px;
    height: 10vh;
    
    display: flex;
    align-items: center;
    gap: 16px;

    background-color: rgba(0,0,0,0.1);
}

.room-send-input {
    flex: 1;
    height: 4vh;

    border: none;
    outline: none;
}

.room-send-button {
    height: 4vh;
    width: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.8);
    color: rgba(255,255,255,1);
    border-radius: 13px;
}

.room-send-button:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    
}

.message-box-mine {
    padding-bottom: 10px;

    display: flex;
    flex-direction: row-reverse;
}

.message-mine {
    border-radius: 10px;
    padding: 8px;

    max-width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;

    color: rgba(255,255,255,1);
    background-color: rgba(19, 120, 85, 0.8);
}

.message-datetime {
    margin: 0 4px;

    display: flex;
    flex-direction: column-reverse;

    font-size: 12px;
}

.message-box-others {
    display: flex;
}

.message-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message-nickname {
    color: rgb(0,0,0,1);

    font-size: 14px;
}

.message-container-others {
    display: flex;
}

.message-other{
    border-radius: 10px;
    padding: 8px;

    max-width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;

    color: rgba(255,255,255,1);
    background-color: rgba(100, 120, 85, 0.8);
}